<table id="theses" class="display" > 
  <thead>
    <tr>
      <th>Title</th>
      <th>Major</th>
      <th>Summary</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @theses.each do |thesis| %>
    <tr>
      <td><%= thesis.title %></td>
      <td><%= thesis.major %></td>
      <td><%= sanitize thesis.summary %></td>
      <td><%= link_to "choice", student_thesis_path(thesis, :student => @student.id),:method => :post %> 
    </tr>
  <% end %>
  </tbody>
</table>

