// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  font-size: 70px;
  font-style: oblique;
  text-align: center;
  padding-top: 10%; 
  color: #f47d31;
}
#login form, #login form div{
 display: inline;
}
.left-login-button {
 padding-left: 20%;
}
.right-login-button {
 padding-left: 20%;
}
#login input {
  width: 200px;
  height: 30px;
}
