// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form {
  padding-top: 20%;
}
.login-form fieldset {
 width: 400px;
}
.form {
 text-align: center;
}
.form table {
 margin: 0px auto;
}
.login-form .th {
  width: 300px;
}
